<h1>Edit Waste Entry</h1>

<%= render 'form', waste_entry: @waste_entry %>

<%= link_to 'Show', @waste_entry, class: 'btn btn-secondary mt-3' %> |
<%= link_to 'Back to Waste Entries', waste_entries_path, class: 'btn btn-info mt-3' %>